:root { 
    --gray_400:#dbbcc3; 
    --gray_500:#c48796; 
    --gray_500_9e:#c5939e9e; 
    --blue_gray_400:#7d8790; 
    --black_900:#000000; 
    --blue_A700:#215ee9; 
    --gray_500_01:#c28694; 
    --blue_A700_7f:#215ee97f; 
    --white_A700:#ffffff; 
    --gray_50:#f5f8ff; 
    --blue_50:#d4eafb; 
    }